config/*

!config/config.example.yaml

data/*
!data/.gitkeep

docs/

server/dist/
node_modules
dist
logs
.cursor/
.DS_Store
.vscode
.idea
*.log
*.tar.gz

coverage/
.coverage/
.coverage-v8/
.coverage-v8-*/
.coverage-v8-*/

package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
bun.lock
